# ======================
# LaTeX intermediate files
# ======================

*.aux
*.log
*.toc
*.out
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.bcf
*.run.xml
*.blg
*.bbl

# ======================
# Temporary files
# ======================

*.tmp
*.temp

# ======================
# macOS
# ======================

.DS_Store

# ======================
# Windows
# ======================

Thumbs.db

# ======================
# VSCode
# ======================

.vscode/

# ======================
# JetBrains
# ======================

.idea/